*{
  font-family: 'PT Sans',Arial,'Arial Unicode MS',Helvetica,sans-serif;
}

#header-container{
  display: block;
  width: 100%;
  background-color: black;
}

#header-image{
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-bottom: 30%;
}

#header-subtext{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10pt;
  height: 46px;
  width: 100%;
}

h1, h3{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

h3{
    font-size: 16pt;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 100;
    padding-top: 20px;
}

h1{
  font-size: 68pt;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}
