.navigation-container{
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background-color: black;
  z-index: 99999;
}

.logo-container{
  position: relative;
  margin-right: 18%;
  display: block;
  float: right;
  height: 100%;
  padding: 0;
}
.logo, .logo img{
  position: absolute;
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 55px;
}
#trondheimno-link{
  position: relative;
  padding-right: 10px;;
  display: inline-block;
  color: white;
  text-decoration: underline;
  line-height: 28.57px;
  font-size: 14pt;
  height: 100%;
  padding-top: 15px;
}

.menu-container{
  margin-left: 14%;
  position: relative;
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(0, -50%);
  padding-top: 2px;
}
.menu-container:hover{
  cursor: pointer;
}
.burger-container{
  position: absolute;
  display: block;
  margin: 0;
  left: 50%;                        
  transform: translate(-50%, 0);
  width: 34px;
  height: 32px;
  margin-bottom: -10px;
}
.burger-bar {
  width: 100%;
  height: 6px;
  background-color: white;
  margin: 3px 0;
}
.menu-text-container{
  color: white;
  font-size: 9pt;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;                        
  transform: translate(-50%, -2px);
  height: 20px;
}
.drop-menu-container{
  display: block;
  position: absolute;
  top: 100%;
  width: 250px;
  height: 500px;
  background-color: white;
  z-index: 999999999;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
}
.drop-menu-item-container{
  display: flex;
  border-bottom: 1px solid rgb(0, 183, 255);
  width: 80%;
  height: 30px;
  margin: 8px auto auto auto;
  padding: 0;
  text-align: left;
  font-size: 14pt;
  color: rgb(41, 41, 41);
  z-index: 99999999999;
}
.drop-menu-item-container:hover{
  background-color: black;
  color: white;
}

.drop-menu-item-container a{
  color: inherit;
  text-decoration: none;
  display: block;
}

