p {
    margin-bottom: 1em;
    font-weight: 100;
}

img {
    max-width: 100%;
}

.subheading {
    margin-bottom: 8pt;
}

.contactInfo {
    margin-bottom: 0.5em;
}

.contactInfoHeader {
    font-weight: bold;
}
