p {
    margin-bottom: 1em;
    font-weight: 100;
}

img {
    max-width: 100%;
}

.subheading {
    color: black;
    text-align: left;
    margin-bottom: 1em;
    font-size: 22px;
}

.contact-info-container{
    background-color: var(--main-hover-color);
    display: flex;
    min-height: 100px;
    flex-flow: row;
    flex-wrap: wrap;
}

.contactInfo {
    text-decoration: none;
    padding: 5px;
    margin: auto;
}

.contactInfo > a {
    color: var(--main-txt-color);
    text-decoration: none;
}

.contactInfoHeader {
    font-weight: bold;
}

#lower-container{
    width: 100%;
}

.mapContainer {
    border: 1px solid gray;
    padding: 5px;
    box-shadow: 5px 10px 5px grey;
}

.containerElement {
    height: 400px; 
    width: 100%; 
}

#tags-container{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 50px;
    margin-top: 50px;
}

#article-content-container{
    display: flex;
    padding: 5%;
}

#html-content{
    margin-right: auto;
}

#article-image-container{
    position: relative;
    z-index: 0;
}

#article-image{
    position: relative;
    z-index: 1;
}

#article-title{
    position: relative;
    color: var(--main-txt-color);
    padding: 5px 15px 5px 15px;
    background-color: var(--main-bg-color);
    display: inline-block;
    background-color:var(--main-hover-color);
    font-size: 22px;
    margin-bottom: auto;
    left: 50px;
    bottom: 80px;
    z-index: 2;
    text-transform: uppercase;
}

.article-tag{
  color: var(--main-txt-color);
  padding: var(--main-tag-padding);
  background-color: var(--main-hover-color);
  display: inline-block;
  text-decoration: none;
  margin: 3px;
  font-size: 14px;
  font-style: normal;
}
