#header-container{
  display: block;
  width: 100%;
  background-color: black;
}

#header-image{
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-bottom: 28%;
}

#header-image h3{
  font-size: 18pt;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 100;
  padding-top: 10px;
  font-weight: 100;
  color: white;
  justify-content: center;
}

#header-image h1{
font-size: 78pt;
text-align: center;
font-weight: 600;
padding-top: 0px;
color: white;
  justify-content: center;
}

#header-subtext{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  height: 46px;
  width: 100%;
  font-weight: 100;
}


#content-container{
  display: block;
  justify-content: center;
  align-items: center;
}

#content-container h2 {
  margin-top: 10px;
  font-size: 28pt;

  letter-spacing: 2px;
  font-weight: 100;
  padding-top: 20px;
  text-align: center;
}

#navigation-menu-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
}

.navigation-box-container{
  flex: 1;
  max-width: 370px;
  width: 370px;
  min-width: 370px;
  height: 420px;
  margin: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


.navigation-box-thumbnail{
  width: 100%;
  height: 70%;
  display: block;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
}

.navigation-box-title{
  color: rgba(20, 70, 170, 1);
  text-decoration: none;
  letter-spacing: 3px;
}

.navigation-box-title:hover{
  color: rgb(10, 33, 90);
  text-decoration: none;
}

.navigation-box-container h4{
  text-align: center;
  font-weight: 500;
  font-size: 13pt;
  margin-top: 14px;
  letter-spacing: 1px;
  overflow: hidden;
}

#frontpage-columns-container{
  margin-top: 50px;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: cover;
  line-height: 25.71px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  background-repeat: repeat;
  background-attachment: scroll;
}
#frontpage-columns-overlay{
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2em 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.frontpage-column-item-container{
  display: block;
  color: white;
  height: auto;
  min-width: 200px;
  width: 250px;
  padding: 3em 2em;
  border-left: 1px solid white;
}
.frontpage-column-item-container:first-child{
  border-left: 0;
}
@media only screen and (max-width: 640px) {
  .frontpage-column-item-container {
    border-left: 0;
    border-bottom: 1px solid #007de8;
    width: 90%;
  }
}


.frontpage-column-image-container{
  width: 100%;
  min-height: 70px;
}

.frontpage-column-image{
  margin: auto;
  width: 55px;
}

.frontpage-column-info-container{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
.frontpage-column-info-container h2{
  padding: 0;
  margin: 0;
  min-height: 40px;
  height: auto;
}


.frontpage-column-info-container h2 a{
  height: auto;
  color: white;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
}

.frontpage-column-info-container h4 a{
  margin: auto;
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 0;
  color: white;
}

.frontpage-column-link:hover{
  text-decoration: none;
}


#frontpage-cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.frontpage-card{
  display: inline-flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  min-height: 100px;
  margin: 10px 10px;
  padding: 1em 2em;
  overflow: hidden;
}
.frontpage-card-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em 0.5em;
}
.frontpage-card-icon{
  display: block;
  margin: 0;
  padding: 1.25em 0;
}
.frontpage-card-title{
  display: flex;
  font-size: 33px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  align-content: flex-start;
}
.frontpage-card-links-container{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.frontpage-card-links-container a{
  margin-top: 2px;
}
#custom-content-container{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}