#header-container {
  height: 100vh;
}

#header-image,
#header-image::before,
#header-image::after {
  box-sizing: border-box;
  background-attachment: fixed;
}

#header-image {
  min-height: 100vh;
  padding: 50px;
}

#image-text {
  position: absolute;
  padding: 20px;
  background-color: #fcfcfc;
  width: 25%;
  right: 0;
  top: 0;
  margin: 50px;
}

#overflow-container {
  box-sizing: border-box;
  padding: 50px;
  min-height: 100vh;
}

#attractions-container {
  margin-bottom: 50px;
}

.title {
  max-width: 50%;
  display: inline-flex;
  padding: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

#chevron-container {
  text-align: center;
  font-size: 100px;
  line-height: 0;
  color: #fcfcfc;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  animation: chevron .5s linear 1s 2;
}

@keyframes chevron {
  from {
    bottom: 0;
  }
  50% {
    bottom: -1rem;
  }
  to {
    bottom: 0;
  }
}

.attractions-background {
  background-color: #EBC1A7;
}

.maps-background {
  background-color: #C2CDE0
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.card-item-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  min-width: 15em;
  max-width: 25em;
  height: 20em;
  color: #1C1C1C;
  text-decoration: none;
}

.card-item-container h2 {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  #header-image
  {
    min-height: 50vh;
    padding: 0;
  }

  #image-text {
    display: block;
    float: unset;
    width: auto;
    margin: 20px 10px;
    bottom: 0;
    top: unset;
    left: 0;
  }

  .cards-container {
    flex-direction: column;
  }

  .card-item-container {
    width: 100%;
    margin-bottom: 25px;
  }

  .card-item-container:last-of-type {
    margin: 0;
  }

  .title {
    max-width: 100%;
  }

  #chevron-container {
    display: none;
  }

}
