#layout-container{
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#children-container{
  margin: 0;
  padding: 0;
  display: block;
}

*{
  font-family: 'PT Sans',Arial,'Arial Unicode MS',Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}