#layout-container {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #fcfcfc;
}

.nav-item-container.active {
  border-left: .2rem solid #581f03;
  padding-left: 1rem;
}

.active a {
  color: #581f03 !important;
}

#menu a {
  color: #1c1c1c;
  text-decoration: none;
}

#menu {
  height: 50vh;
  background-color: #EBC1A7;
  padding: 2.5rem 3rem;
}

.nav-item-container {
  margin-bottom: 1rem;
  font-size: 24px;
}


.child-item-container {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.child-item-container:first-child {
  margin-top: 1rem;
}

.child-item-container > a {
  font-size: 18px;
  margin: 0.3rem 0;
}

#layout-content-container {
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: scroll;
}

#header {
  display: none;
}

@media only screen and (max-width: 980px) {
  #menu {
    display: none;
  }

  #layout-container {
    display: block;
  }

  #header {
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: violet;
  }
}

@media only screen and (max-width: 600px) {
}
