#outer-container{
  background-color: rgb(228, 228, 228);
  width: 100%;
  justify-content: center;
  align-items: center;
}

#inner-container{
  background-color: white;
  display:block;
  height: 100%;
  width: 75%;
  margin: auto;
  padding: 20px;
}

#articles-header{
  display:block;
  width: 100%;
  height: auto;
  margin: 0 10px;
  overflow: hidden;
}


#articles-header h2{
  width: 100%;
  height: 60px;
  color: black;
  letter-spacing: 0px;
  text-align: left;
  font-size: 26pt;
}

#map-button{
  display: block;
  margin: 10px 0;
  height: 26px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: underline;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(17, 108, 228);
}
#map-button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 132, 255);
}

#english-button{
  display: block;
  margin: 15px 0;
  height: 26px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: underline;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(12, 116, 35);
  margin-bottom: 50px;
}
#english-button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 132, 255);
}

#all-tags-container{
  display: flex;
  flex-wrap: row wrap;
  flex-flow: wrap;
  
}

#sort-container{
  display: flex;
  flex-flow: wrap;
  flex-wrap: row wrap;
  float: right;
}

.distinct-tag{
  padding: 4px;
  margin: 0 5px 0 0;
  border: 1px solid rgb(220, 220, 220);
  cursor: pointer;
}



#articles-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: left;
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.article-container{
  margin: 10px auto;
  display: flex;
  flex-flow: column;
  border: 1px solid rgb(194, 194, 194);
  width: 340px;
  max-width: 340px;
  min-height: 350px;
  padding: 10px;
  overflow-y: hidden;
  height: auto;
}

.article-thumbnail{
  display: block;
  width: 100%;
  min-height: 70%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.article-info-container{
  display: block;
  height: auto;
  width: 100%;
}

.article-container h2{
  display: block;
  width: 100%;
  min-height: 40px;
  height: auto;
  color: rgba(20, 70, 170, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 22pt;
  text-align: left;
  margin: 25px 0 0 0;
  padding: 0;
}

.article-container h2:hover{
  color: rgb(10, 33, 90);
  text-decoration: none;
}

.article-container h2 a{
  color: inherit;
  text-decoration: inherit;
}

.tags-container{
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
}

.tag{
  background-color: rgb(225, 225, 225);
  height: 20px;
  min-width: 50px;
  margin: 4px;
  padding: 2px 6px;
}

.tag a{
  font-style: italic;
  color: rgb(61, 61, 61);
  font-size: 11pt;
  letter-spacing: 0;
}

