

* {
  font-family: 'PT Sans', 'Arial', 'Arial Unicode MS', 'Helvetica,sans-serif';
}

#articles-header{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}


#articles-header h2{
  width: 100%;
  height: 60px;
  color: black;
  letter-spacing: 0px;
  text-align: left;
  font-size: 26pt;
}

#map-button{
  display: block;
  margin: 10px 0;
  height: 26px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: underline;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(17, 108, 228);
}
#map-button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 132, 255);
}

#english-button{
  display: block;
  margin: 15px 0;
  height: 26px;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: underline;
  align-items: center;
  padding-top: 10px;
  background-color: rgb(12, 116, 35);
  margin-bottom: 50px;
}
#english-button:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0, 132, 255);
}

#all-tags-container{
  display: flex;
  flex-wrap: row wrap;
  flex-flow: wrap;
  
}

#sort-container{
  display: flex;
  flex-flow: wrap;
  flex-wrap: row wrap;
  float: right;
}

.distinct-tag{
  padding: 4px;
  margin: 0 5px 0 0;
  border: 1px solid rgb(220, 220, 220);
  cursor: pointer;
  text-transform: uppercase;
}

.article-list-container{
  display: block;
  width: 100%;
}

#articles-container{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  background-color: inherit;
  width: 100%;
  height: auto;
}

.article-container{
  margin: 10px auto;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid rgb(194, 194, 194);
  width: 340px;
  max-width: 340px;
  height: auto;
  overflow: visible;
  padding: 10px;
  text-decoration: none;
}

.article-thumbnail{
  display: block;
  min-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 280px;
}

.article-container h2{
  color: rgba(20, 70, 170, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 22pt;
  text-align: left;

  display: block;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.article-container h2:hover{
  color: rgb(10, 33, 90);
  text-decoration: none;
}

.article-container h2 a{
  color: inherit;
  text-decoration: inherit;
  flex-grow: 1;
}

.article-info-header{
  width: 100%;
}

.article-info-container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-grow: 1;
}
.article-info-text{
    font-family: 'PT Sans',Arial,'Arial Unicode MS',Helvetica,sans-serif;
    color: #555;
    color: #000;
    line-height: 25.71px;
    font-size: 18px;

    display: block;
    flex-grow: 1;
    padding: 20px 0;
}

.tags-container{
  display: block;
  align-self: flex-end;
}

.tag{
  display: inline-block;
  background-color: rgb(225, 225, 225);
  min-width: 50px;
  min-height: 20px;
  margin: 3px;
  padding: 2px 4px;
  font-style: italic;
  color: rgb(61, 61, 61);
  font-size: 11pt;
  letter-spacing: 0;
}

.map-checkbox-container {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.map-checkbox-container input {
  margin-right: 5px;
}

#events-content-container {
  display: block;
  width: 100%;
}

#events-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#events-loading-spinner {
  display: flex;
  justify-content: center;
}

#events-loading-container p {
  margin-top: 15px;
  text-align: center;
}

.event-info-container {
  display: flex;
  flex-direction: column;
  height: auto;
  align-self: flex-end;
}

.event-info-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2px;;
}

.event-icon {
  color: black;
  margin-right: 8px;
}

.event-info-text {
  display: flex;
  flex-direction: row;
  color: black;
}

#events-more-container {
  display: flex;
  justify-content: center;
  padding: 40px 0 60px 0;
}

#events-more-button {
  padding: 10px 50px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  color: #005aa7;
  font-weight: 100;
  font-size: 11pt;
}

#events-more-button:hover {
  color: #000;
  text-decoration: none;
}

#content-container{
  margin-bottom: 50px;
}

#content-container p {
  margin-top: 30px;
}
