  #listing-page-container{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #map-button{
    color: var(--main-txt-color);
    background-color: var(--main-map-btn-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 140px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
  }
  
  #map-button:hover{
    background-color:var(--main-map-btn-color-hover);
    text-decoration: none;
    cursor: pointer;
  }
  
  #tag-filter-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  #tag-container-text{
    color: var(--main-txt-color);
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 120px;
  }
  
  #all-tags-container{
    display: flex;
    flex-wrap: row wrap;
    flex-flow: wrap;
  }

  .selectedStyle, .unSelectedStyle {
    background-color: var(--main-hover-color);
    padding: var(--main-tag-padding);
    color: var(--main-txt-color);
    opacity: 1;
    margin: 0 5px 5px 0;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
  }

  .selectedStyle {
    font-weight: bold;
  }
  
  .article-list-container{
    background-color: var(--main-bg-color);
    display: block;
    width: 100%;
    height: 100%;
  }
  
  #articles-container{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    background-color: inherit;
    border: 0px;
    width: 100%;
    height: auto;
  }
  
  #articles-header{
    background-color: var(--main-bg-color-opacity);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #articles-header > :first-child{
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  #articles-header > :nth-child(2){
    display: flex;
    align-items: center;
  }
  
  #map-button img {
    width: 25px;
    height: auto;
  }

  
