
#student-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 80px;
}

#student-header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

#languages-container {
  position: relative;
  left: 0;
  display: flex;
  margin: auto 0;
  height: auto;
}

.language-item {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid black;
}
.language-item:last-child {
  border-right: 0;
}

#student-logo-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#student-logo-container h2 {
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

#student-logo-image{
  display: inline-block;
  width: 55px;
  height: auto;
}

#student-header-image {
  height: 500px;
}

#student-listing-pages-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

#student-listing-pages{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#student-listing-pages h1{
  text-align: center;
  font-size: 40px;
}

#student-listing-pages-grid-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 966px;
  margin: auto;
}

.student-listing-page-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 300px;
  min-width: 300px;
  height: 380px;
  border: 1px solid grey;
  margin: 10px;
}

.student-listing-page-card-thumbnail{
  width: 100%;
  height: 70%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}
.student-listing-page-info-container{
  display: block;
  flex-grow: 1;
  justify-content: center;
  padding: 10px;
}

.student-listing-page-info-container h3 {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  padding: 10px 0;
  
}
.student-listing-page-info-container h3 a {
  text-decoration: none;
  color: #005aa7 !important;
}
.student-listing-page-info-container p {
  text-align: center;
  font-size: 14px;
}

#student-custom-content-container{
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 4em 0 8em 0;
}

#student-custom-content-container #html-content-container {
  min-height: 300px;
  height: 500px;
}

#student-columns-container {
  margin-top: 50px;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: cover;
  line-height: 25.71px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  background-repeat: repeat;
  background-attachment: scroll;
}

#student-columns-overlay {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 4em 0 10em 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.student-column-item-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: auto;
  margin: 0 30px;
}

.student-column-image-container{
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

.student-column-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 0;
}
.student-column-link, .student-column-info-container a{
  color: white;
}

.student-column-info-container h3{
  font-size: 13pt;
  font-weight: 400;
  color: white;
  padding: 10px 0;
  top: 0;
  position: relative;
}
.student-column-info-container h4{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 14px;
  letter-spacing: 0;
  color: white;
  padding: 0 15px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 5px;
}

.student-column-info-container p {
  max-width: 100%;
  word-wrap: break-word;
}